@model dynamic

@{
    ViewBag.Title = "SecretPlace";
    Layout = "../Shared/_Layout.cshtml";
}

<style>
    .secret-place
    {
        padding: 100px;
    }
</style>

<div class="secret-place">
    <h2>Secret Place only for admin</h2>
</div>
