@{
ViewBag.Title = "Return Confirmation";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Your return request has been submitted successfully.</p>
        <hr>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Home</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/3BxD+PL5B0sRYc2c5EqF+Fbf9U5C5/6B4/6B+Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybD2pC2b03W5SlmfOov4tWTKivYflTxJmcAmH8pb8BjRn6V/O" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgC+6yt0J3PAZSGHovY4zY1E9lIjCAEn2vsHBOyBhaeQlknkwg" crossorigin="anonymous"></script>
